#gf-airtable-app {


    .gform-settings-panel {
        margin-bottom: 2rem;

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                height: 64px;
                width: 64px;
                margin-left: .5rem;
            }
        }
    }

    .fixed-width {
        display: inline-block;
        min-width: 20px;
    }

    .state-button-wrapper {
        display: flex;
        align-items: center;

        .button {
            strong {
                font-weight: bold !important;
                color: #F34A5C !important;
            }
        }
    }

    .gfat {
        &-actions {
            margin-bottom: 1rem;

        }

        &-progress {
            margin-bottom: .5rem;
            display: flex;
            flex-direction: column;

            progress {
                width: 100%;
            }
        }

        &-is-loading {
            position: relative;

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: #f5f5f5;
                width: 100%;
                height: calc(100% - 16px);
            }
        }
    }
}
